<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body ng-app="firstApp">
  <input type="text" ng-model="query"/>

  <select ng-model="order">
    <option value="username">Organiser par nom</option>
    <option value="content">Organiser par contenu</option>
    <option value="email">Organiser par promo</option>
    <option value="city">Organiser par promo</option>
  </select>

  <div ng-controller="firstController">
    <div ng-repeat="comment in comments | filter:{content:query} | orderBy:order">
      <p><strong>{{comment.username}}</strong></p>
      <p>{{comment.content}}</p>
      <p>{{comment.email}}</p>
      <p>{{comment.city}}</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="test.js"></script>
</body>
</html>
